/*body{*/
/*    margin: auto;*/
/*    width: 60%;*/
/*}*/
body{
    background: #efefef;
    font-family: 宋体;

}
.dd{

    text-align: center;
    font-size: large;

}
img{
    margin: auto;
    display: block;

}
h1{
    color: #fe0e52;

}
.div0{

    margin: auto;
    /*border: 2px solid green;*/
    width: 724px;
    height: 50px;
    background: white;
    border-radius: 10px;
}
.div1{
    /*margin:  0 0 0 200px;*/
    /*border: 2px solid red;*/
    width: 200px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;

}
.div2{
    /*margin: 0  200px 0 0;*/
    /*border: 2px solid red;*/
    width: 500px;
    height: 50px;
    text-align: center;
    float: right;
    margin-top: 12px;
    font-size: large;
}
.aa{

    height: 30px;
    width: 724px;
    border:1px solid #0e90fe;
    text-decoration: none;
    margin: 0 auto;
}
#gonggao{
    display: inline;
    text-align: right;
}
#mm{
    color: #0e90fe;
    text-align: left;
}
.mokuai a{
    text-align: center;

    padding: 3.5cm;
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 10px;*/
    /*background: #0e90fe;*/

    }
a{
    text-decoration: none;
    color:#000;
}
#nav{
    margin: auto;

    width: 724px;
    height: 80px;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}
#nav div{
    float: left;
    margin-left: 98px;
}

#nav div img{
    display: block;
}
.div3{
    width: 724px;
    height: 50px;
    /*border: solid 2px red;*/
    border-radius: 10px;
    margin: 40px auto;
    background: white;
}
.div3 img{
    float: left;
    margin-top: 10px;
}
.div3 span{
    margin-top: 10px;
    font-size: 25px;
}
.div4{
    width: 724px;
    height: auto;
    /*border: 2px solid red;*/
    margin: auto;
    background: white;
}



.box1{
    margin: auto;
    margin-top: 20px;
    /*border: 2px solid green;*/
    width: 724px;
    height: 80px;
    background: white;

}
.box1 div{
    float: left;
    margin-left: 98px;
}
.box1 div img{
    display: block;
}